@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DAL.Dto.RegisterDto
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer


<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row block-9">
            <div class="col-md-6 order-md-last d-flex mx-auto">

                <form asp-controller="Auth" asp-action="Register" enctype="multipart/form-data" class="bg-white p-5 contact-form form-row">
                    @*@if (ViewBag["Message"] != null && ViewBag["Message"] != "")
                        {
                        <div class="form-group">
                            <div class="alert alert-danger" role="alert">
                                @ViewBag["Message"]
                            </div>
                        </div>
                        }*@
                    <div class="col-md-12 text-center">
                         <h2 class="text-center">@localizer["Register"]</h2>
                    </div>  

                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" placeholder="@localizer["Firstname"]" name="Firstname">
                    </div>
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" placeholder="@localizer["Lastname"]" name="Lastname">
                    </div>
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" placeholder="@localizer["Phonenumber"]" name="Phonenumber">
                    </div>
                    <div class="form-group col-md-12">
                        <input type="password" class="form-control" placeholder="@localizer["Password"]" name="Password">
                    </div>
                    <div class="form-group col-md-12">
                        <input type="file" class="form-control-file" name="Avatar">
                    </div>
                    <div class="form-group col-md-12 text-center">
                        <input type="submit" value="@localizer["Register"]" class="btn btn-primary py-3 px-5">
                    </div>
                    <div class="col-md-12 text-center mt-3">
                        <a asp-controller="Auth" asp-action="Login">@localizer["Already Have An Account ? Sign In"]</a>
                    </div>
                </form>

            </div>


        </div>
    </div>
</section>

