@model CMS.Models.ProductModel
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Products</h1>
    </div>

    <div class="row">

        <div class="col-lg-12">
            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Add New Product</h6>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="Products" asp-action="Action" class="form-row" enctype="multipart/form-data">
                        <div class="col-md-6">
                            <label>
                                Product Name(En)
                            </label>
                            <input type="text" placeholder="Ex : Orange" name="NameEn" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <label>
                                Product Name(Ar)
                            </label>
                            <input type="text" placeholder="مثال : برتقال " name="NameAr" class="form-control" required />
                        </div>
                        <div class="col-md-6 mt-3">
                            <label>
                                Product Descreption(En)
                            </label>
                            <textarea rows="5" name="DescreptionEn" class="form-control" required></textarea>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label>
                                Product Descreption(Ar)
                            </label>
                            <textarea rows="5" name="DescreptionAr" class="form-control" required></textarea>
                        </div>
                        <div class="col-md-4 mt-3">
                            <label>
                                Product Size
                            </label>
                            <select name="MeasurmentId" class="form-control" required>
                                <option selected disabled>Choose size ...</option>
                                @foreach (var elem in Model.Measurments)
                                {
                                    <option value="@elem.Id">@elem.UnitAr / @elem.UnitEn</option>

                                }
                            </select>
                        </div>
                        <div class="col-md-4 mt-3">
                            <label>
                                Product Price
                            </label>
                            <input type="number" name="Price" class="form-control" min="0" required />
                        </div>
                        <div class="col-md-4 mt-3">
                            <label>
                                Product Quantity
                            </label>
                            <input type="number" name="Quantity" class="form-control" min="0" required />
                        </div>
                        <div class="col-md-6 mt-3">
                            <label>
                                Product Country
                            </label>
                            <select name="CountryId" class="form-control" required>
                                <option selected disabled>Choose Country ...</option>
                                @foreach (var elem in Model.Countries)
                                {
                                    <option value="@elem.Id">@elem.NameAr / @elem.NameEn</option>

                                }
                            </select>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label>
                                Product Category
                            </label>
                            <select name="CategoryId" class="form-control" required>
                                <option selected disabled>Choose Category ...</option>
                                @foreach (var elem in Model.Categories)
                                {
                                    <option value="@elem.Id">@elem.NameAr / @elem.NameEn</option>

                                }
                            </select>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label>
                                Product Main Image
                            </label>
                            <input type="file" name="Image" class="form-control-file" required />
                        </div>
                        <div class="col-md-6 mt-3">
                            <label>Product Images</label>
                            <input type="file" name="Images" class="form-control-file" required multiple />
                        </div>
                        <div class="col-md-12 text-center mt-5">
                            <input type="submit" value="Submit" class="btn btn-outline-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /.container-fluid -->
