
@model PublicWebsite.ViewModels.ListProductVM
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate fadeInUp ftco-animated">
                    <h2 class="mb-4">@localizer["Our Products"]</h2>
                </div>
            </div>
        </div>
        
        <div class="container">

   
            <div class="row">
                <div class="col-3 text-center">
                            <ul _ngcontent-eeg-c71="" class="list-group my-3 ng-star-inserted">
                               <p class="mb-2" style="color:#fadb61;"> 
                                  @localizer["Sort by Categories"]
                               </p>
                                <li _ngcontent-eeg-c71="" class="list-group-item  ng-star-inserted list-hover" value="0"><a asp-action="Index" asp-controller="Product" asp-route-CategoryId="0"> @localizer["All"] </a></li>

                                @foreach (var item in Model.Categories)
                                {
                                    <li _ngcontent-eeg-c71="" class="list-group-item ng-star-inserted list-hover" ><a asp-action="Index" asp-controller="Product" asp-route-CategoryId="@item.Id"> @item.Name  </a></li>
                                }

                            </ul>


                             <ul _ngcontent-eeg-c71="" class="list-group my-3 ng-star-inserted">
                               <p class="mb-2" style="color:#fadb61;"> 
                                   @localizer["Sort by Country"]
                               </p>
                                <li _ngcontent-eeg-c71="" class="list-group-item  ng-star-inserted list-hover" value="0"><a asp-action="Index" asp-controller="Product" asp-route-CountryId="0"> @localizer["All"] </a></li>

                                @foreach (var item in Model.Countries)
                                {
                                    <li _ngcontent-eeg-c71="" class="list-group-item ng-star-inserted list-hover" ><a onclick="UpdateCountry(@item.Id)"> @item.Name  </a></li>
                                }

                            </ul>
                       
                    
                </div>
                <div class="col-8">
                    <div class="container">
                        <div class="row">
                            @foreach (var item in Model.ProductViewModel)
                            {

                                <div class="col-md-6 col-lg-4 ftco-animate fadeInUp ftco-animated">
                                    <div class="product">
                                        <a href="#" class="img-prod">
                                            <img class="img-fluid" src="@item.PictuerUrl" alt="Colorlib Template">
                                            <div class="overlay"></div>
                                        </a>
                                        <div class="text py-3 pb-4 px-3 text-center">
                                            <h3><a href="#">@item.Name</a></h3>
                                            <div class="d-flex">
                                                <div class="pricing">
                                                    <p class="price"><span class="mr-2 price-dc"></span><span class="price-sale">@item.Price @localizer["JOD"]</span></p>
                                                </div>
                                            </div>
                                            <div class="bottom-area d-flex px-3">
                                                <div class="m-auto d-flex">
                                                    <a asp-controller="Product" asp-action="Details" asp-route-Id="@item.Id" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                                        <span><i class="ion-ios-menu"></i></span>

                                                    </a>
                                                    <a onclick="AddToCart(@item.Id)" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                        <span><i class="ion-ios-cart"></i></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            }
                        </div>
                    </div>
                </div>
            </div>
            <div  page-model="@Model.PagingInfo" asp-action="Index" page-class="btn border"
                 page-class-normal="btn btn-light" page-class-selected="btn btn-info active" class="btn-group" style="margin-left: 50%;">
            </div>
        </div>


    </section>
